<!-- crtl + spacja -->
<!-- .container>.row>.col -->

<div class="container">
  <div class="row">
    <div class="col">

      <h1>
        Welcome to {{ title }}!
      </h1>

      <!-- <button (click)="hide = !hide">Toogle {{hide}}</button> -->

      <!-- <ng-template [appUnless]="hide" let-m="$implicit"> -->
      <!-- <div *appUnless="hidem">
          <p>Ala ma {{2+2}} KOTY</p>
        </div> -->
      <!-- </ng-template> -->

      <!-- <app-playlists-view></app-playlists-view> -->

      <app-music-search></app-music-search>

      <!-- <app-tabs>

        <app-tabs-nav></app-tabs-nav>

        <app-tab title="Placki A">Placki A</app-tab>

        <app-tab title="Placki B">Placki B</app-tab>

        <app-tab title="Placki C">Placki C</app-tab>
      </app-tabs> -->

    </div>
  </div>
</div>